@charset "UTF-8";
@font-face {
  font-family: "proconex-icons";
  src: url("../webfonts/icons/proconex-icons.woff2") format("woff2"), url("../webfonts/icons/proconex-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
/* line 11, icons.scss */
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "proconex-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
}

/* line 28, icons.scss */
.proconex-compare:before {
  content: "\e924";
}

/* line 33, icons.scss */
.proconex-commissions:before {
  content: "\e91d";
  color: #035aa6;
}

/* line 39, icons.scss */
.proconex-expert:before {
  content: "\e91f";
  color: #035aa6;
}

/* line 45, icons.scss */
.proconex-performance:before {
  content: "\e920";
  color: #035aa6;
}

/* line 51, icons.scss */
.proconex-products:before {
  content: "\e921";
  color: #035aa6;
}

/* line 57, icons.scss */
.proconex-promote:before {
  content: "\e922";
  color: #035aa6;
}

/* line 63, icons.scss */
.proconex-signup:before {
  content: "\e923";
  color: #035aa6;
}

/* line 69, icons.scss */
.proconex-chat-online:before {
  content: "";
  color: #035aa6;
}

/* line 75, icons.scss */
.proconex-support:before {
  content: "";
  color: #035aa6;
}

/* line 81, icons.scss */
.proconex-emergency:before {
  content: "";
  color: #035aa6;
}

/* line 87, icons.scss */
.proconex-maintanence:before {
  content: "";
  color: #035aa6;
}

/* line 93, icons.scss */
.proconex-parts-assisstance:before {
  content: "";
  color: #035aa6;
}

/* line 99, icons.scss */
.proconex-ask-engineers:before {
  content: "";
  color: #035aa6;
}

/* line 105, icons.scss */
.proconex-contact-store:before {
  content: "";
  color: #035aa6;
}

/* line 111, icons.scss */
.proconex-FAX:before {
  content: "";
  color: #035aa6;
}

/* line 117, icons.scss */
.proconex-insurance:before {
  content: "";
  color: #035aa6;
}

/* line 123, icons.scss */
.proconex-shipping:before {
  content: "";
  color: #035aa6;
}

/* line 129, icons.scss */
.proconex-warranty-returns:before {
  content: "";
  color: #035aa6;
}

/* line 135, icons.scss */
.proconex-messenger:before {
  content: "";
  color: #00b2ff;
}

/* line 141, icons.scss */
.proconex-microsoftexcel:before {
  content: "";
  color: #217346;
}

/* line 147, icons.scss */
.proconex-microsoftpowerpoint:before {
  content: "";
  color: #d24726;
}

/* line 153, icons.scss */
.proconex-microsoftword:before {
  content: "";
  color: #2b579a;
}

/* line 159, icons.scss */
.proconex-whatsapp1:before {
  content: "";
}

/* line 164, icons.scss */
.proconex-newspaper:before {
  content: "";
}

/* line 169, icons.scss */
.proconex-pencil:before {
  content: "";
}

/* line 174, icons.scss */
.proconex-connection:before {
  content: "";
}

/* line 179, icons.scss */
.proconex-mic:before {
  content: "";
}

/* line 184, icons.scss */
.proconex-qrcode:before {
  content: "";
}

/* line 189, icons.scss */
.proconex-cart:before {
  content: "";
}

/* line 194, icons.scss */
.proconex-coin-dollar:before {
  content: "";
}

/* line 199, icons.scss */
.proconex-phone:before {
  content: "";
}

/* line 204, icons.scss */
.proconex-phone-hang-up:before {
  content: "";
}

/* line 209, icons.scss */
.proconex-envelop:before {
  content: "";
}

/* line 214, icons.scss */
.proconex-location:before {
  content: "";
}

/* line 219, icons.scss */
.proconex-location2:before {
  content: "";
}

/* line 224, icons.scss */
.proconex-map:before {
  content: "";
}

/* line 229, icons.scss */
.proconex-map2:before {
  content: "";
}

/* line 234, icons.scss */
.proconex-printer:before {
  content: "";
}

/* line 239, icons.scss */
.proconex-mobile:before {
  content: "";
}

/* line 244, icons.scss */
.proconex-tablet:before {
  content: "";
}

/* line 249, icons.scss */
.proconex-tv:before {
  content: "";
}

/* line 254, icons.scss */
.proconex-download:before {
  content: "";
}

/* line 259, icons.scss */
.proconex-upload:before {
  content: "";
}

/* line 264, icons.scss */
.proconex-redo2:before {
  content: "󪥨";
}

/* line 269, icons.scss */
.proconex-bubble:before {
  content: "";
}

/* line 274, icons.scss */
.proconex-bubbles3:before {
  content: "";
}

/* line 279, icons.scss */
.proconex-user:before {
  content: "";
}

/* line 284, icons.scss */
.proconex-user-tie:before {
  content: "";
}

/* line 289, icons.scss */
.proconex-spinner2:before {
  content: "";
}

/* line 294, icons.scss */
.proconex-spinner4:before {
  content: "";
}

/* line 299, icons.scss */
.proconex-spinner5:before {
  content: "";
}

/* line 304, icons.scss */
.proconex-spinner9:before {
  content: "";
}

/* line 309, icons.scss */
.proconex-search:before {
  content: "";
}

/* line 314, icons.scss */
.proconex-zoom-in:before {
  content: "";
}

/* line 319, icons.scss */
.proconex-zoom-out:before {
  content: "";
}

/* line 324, icons.scss */
.proconex-enlarge:before {
  content: "";
}

/* line 329, icons.scss */
.proconex-shrink:before {
  content: "";
}

/* line 334, icons.scss */
.proconex-enlarge2:before {
  content: "";
}

/* line 339, icons.scss */
.proconex-shrink2:before {
  content: "";
}

/* line 344, icons.scss */
.proconex-lock:before {
  content: "";
}

/* line 349, icons.scss */
.proconex-unlocked:before {
  content: "";
}

/* line 354, icons.scss */
.proconex-cog:before {
  content: "";
}

/* line 359, icons.scss */
.proconex-pie-chart:before {
  content: "";
}

/* line 364, icons.scss */
.proconex-stats-dots:before {
  content: "";
}

/* line 369, icons.scss */
.proconex-stats-bars2:before {
  content: "";
}

/* line 374, icons.scss */
.proconex-bin:before {
  content: "";
}

/* line 379, icons.scss */
.proconex-bin2:before {
  content: "";
}

/* line 384, icons.scss */
.proconex-power-cord:before {
  content: "";
}

/* line 389, icons.scss */
.proconex-download3:before {
  content: "";
}

/* line 394, icons.scss */
.proconex-upload3:before {
  content: "";
}

/* line 399, icons.scss */
.proconex-sphere:before {
  content: "";
}

/* line 404, icons.scss */
.proconex-earth:before {
  content: "";
}

/* line 409, icons.scss */
.proconex-link:before {
  content: "";
}

/* line 414, icons.scss */
.proconex-attachment:before {
  content: "";
}

/* line 419, icons.scss */
.proconex-eye:before {
  content: "";
}

/* line 424, icons.scss */
.proconex-eye-blocked:before {
  content: "";
}

/* line 429, icons.scss */
.proconex-heart:before {
  content: "";
}

/* line 434, icons.scss */
.proconex-warning:before {
  content: "";
}

/* line 439, icons.scss */
.proconex-plus:before {
  content: "";
}

/* line 444, icons.scss */
.proconex-minus:before {
  content: "";
}

/* line 449, icons.scss */
.proconex-cancel-circle:before {
  content: "";
}

/* line 454, icons.scss */
.proconex-blocked:before {
  content: "";
}

/* line 459, icons.scss */
.proconex-cross:before {
  content: "";
}

/* line 464, icons.scss */
.proconex-checkmark:before {
  content: "";
}

/* line 469, icons.scss */
.proconex-play2:before {
  content: "";
}

/* line 474, icons.scss */
.proconex-pause:before {
  content: "";
}

/* line 479, icons.scss */
.proconex-stop:before {
  content: "";
}

/* line 484, icons.scss */
.proconex-previous:before {
  content: "";
}

/* line 489, icons.scss */
.proconex-next:before {
  content: "";
}

/* line 494, icons.scss */
.proconex-backward:before {
  content: "";
}

/* line 499, icons.scss */
.proconex-forward2:before {
  content: "";
}

/* line 504, icons.scss */
.proconex-play3:before {
  content: "";
}

/* line 509, icons.scss */
.proconex-pause2:before {
  content: "";
}

/* line 514, icons.scss */
.proconex-stop2:before {
  content: "";
}

/* line 519, icons.scss */
.proconex-backward2:before {
  content: "";
}

/* line 524, icons.scss */
.proconex-forward3:before {
  content: "";
}

/* line 529, icons.scss */
.proconex-first:before {
  content: "";
}

/* line 534, icons.scss */
.proconex-last:before {
  content: "";
}

/* line 539, icons.scss */
.proconex-previous2:before {
  content: "";
}

/* line 544, icons.scss */
.proconex-next2:before {
  content: "";
}

/* line 549, icons.scss */
.proconex-eject:before {
  content: "";
}

/* line 554, icons.scss */
.proconex-volume-high:before {
  content: "";
}

/* line 559, icons.scss */
.proconex-volume-medium:before {
  content: "";
}

/* line 564, icons.scss */
.proconex-volume-mute2:before {
  content: "";
}

/* line 569, icons.scss */
.proconex-loop2:before {
  content: "";
}

/* line 574, icons.scss */
.proconex-arrow-up:before {
  content: "";
}

/* line 579, icons.scss */
.proconex-arrow-right:before {
  content: "";
}

/* line 584, icons.scss */
.proconex-arrow-down:before {
  content: "";
}

/* line 589, icons.scss */
.proconex-arrow-left:before {
  content: "";
}

/* line 594, icons.scss */
.proconex-arrow-up2:before {
  content: "";
}

/* line 599, icons.scss */
.proconex-arrow-right2:before {
  content: "";
}

/* line 604, icons.scss */
.proconex-arrow-down2:before {
  content: "";
}

/* line 609, icons.scss */
.proconex-arrow-left2:before {
  content: "";
}

/* line 614, icons.scss */
.proconex-circle-up:before {
  content: "";
}

/* line 619, icons.scss */
.proconex-circle-right:before {
  content: "";
}

/* line 624, icons.scss */
.proconex-circle-down:before {
  content: "";
}

/* line 629, icons.scss */
.proconex-circle-left:before {
  content: "";
}

/* line 634, icons.scss */
.proconex-shift:before {
  content: "";
}

/* line 639, icons.scss */
.proconex-checkbox-checked:before {
  content: "";
}

/* line 644, icons.scss */
.proconex-checkbox-unchecked:before {
  content: "";
}

/* line 649, icons.scss */
.proconex-radio-checked2:before {
  content: "";
}

/* line 654, icons.scss */
.proconex-radio-unchecked:before {
  content: "";
}

/* line 659, icons.scss */
.proconex-crop:before {
  content: "";
}

/* line 664, icons.scss */
.proconex-share:before {
  content: "";
}

/* line 669, icons.scss */
.proconex-mail2:before {
  content: "";
}

/* line 674, icons.scss */
.proconex-mail3:before {
  content: "";
}

/* line 679, icons.scss */
.proconex-facebook2:before {
  content: "";
}

/* line 684, icons.scss */
.proconex-whatsapp:before {
  content: "";
}

/* line 689, icons.scss */
.proconex-youtube:before {
  content: "";
}

/* line 694, icons.scss */
.proconex-appleinc:before {
  content: "";
}

/* line 699, icons.scss */
.proconex-android:before {
  content: "";
}

/* line 704, icons.scss */
.proconex-windows8:before {
  content: "";
}

/* line 709, icons.scss */
.proconex-skype:before {
  content: "";
}

/* line 714, icons.scss */
.proconex-reddit:before {
  content: "";
}

/* line 719, icons.scss */
.proconex-linkedin:before {
  content: "";
}

/* line 724, icons.scss */
.proconex-pinterest:before {
  content: "";
}

/* line 729, icons.scss */
.proconex-file-pdf:before {
  content: "";
}

/* line 734, icons.scss */
.proconex-file-openoffice:before {
  content: "";
}

/* line 739, icons.scss */
.proconex-file-word:before {
  content: "";
}

/*# sourceMappingURL=icons.css.map */
