// Scss Document of Proconex Pvt. Ltd.
//active colors
@mixin hover{
	&:hover, &:focus{
		color: #ffffff;
		background-color: #227153;
	}
	&:active{
		color: #ffffff;
		background-color: #4e5397;
	}
}
@mixin linkhover{
	&:hover, &:focus{
		color: #227153;
	}
	&:active{
		color: #4e5397;
	}
}
@mixin linkhoverlight{
	&:hover, &:focus{
		color: #95dfc3;
        text-decoration: underline;
	}
	&:active{
		color: #c9cdfd;
        text-decoration: none;
	}
}
@mixin absolute{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
@mixin BGcenter{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
//Web Fonts
@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensedItalic.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-Bold.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-RomanCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-RomanCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-Medium.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-ItalicCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-ItalicCondensed.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
img{
	max-width: 100%;
	height: auto;
}
#proconEx_bdy{
	font-family: 'Swis721 Cn BT'; 
	font-size: 10px;
	word-break: break-word;
    opacity: 0;
    &.fadein{
        opacity: 1;
    }
    @media (min-width: 1367px){
        font-size: calc(10vw/1367 * 100);
        .container{
            max-width: 95%;
        }
        section{
            .container{
                max-width: 84.507%;
            }
        }
    }
	@media (max-width: 767px){
		font-size: 9px;
	}
	@media (max-width: 576px){
		font-size: 8px;
	}
	@media (max-width: 319px){
		font-size: 7px; 
	}
	.bg_white{
		background-color: #F2F2F2;
	}
	.heading{
		font-family: 'Futura Md BT';
        &_green{
            background: #227153;
            color: #ffffff;
            display: inline-block;
            padding: calc(6em/26.1) calc(12em/26.1);
            margin-left: calc(-12em/26.1); 
            border-radius: calc(15em/26.1);
            border: calc(4em/26.1) solid #1EA4D9;
        }
    }
	header{
        position: relative;
        z-index: 3;
	}
	.navbar-brand{
		display: block;
		max-width: calc(320em/20);
		height: auto; 
		padding-right: calc(35em/20); 
        @media(min-width: 1367px){
            max-width: 23.721%;
        }
	}
	.navbar{
		padding: calc(25em/10);
	}
	.navbar-nav{
		font-size: 160%;
		.nav-link{
			color: #333333;
		}
	}
	.dropdown-menu{ 
		font-size: 90%;
		padding: 0px;
		border-color: #84c3e7;
		background-color: #b8e4e8;
		.dropdown-item{
			padding: calc(5em/14) calc(11em/14);
			margin: 0px;
			white-space: normal;
			word-wrap: break-word;
			@include hover;
		}
	}
	.navbar-toggler{
		padding: 0px;
		margin: 0px;
		outline: none;
		position: absolute;
		right: calc(25em/20);
		top: calc(27em/20);
		@include hover;
	}
	.navbar-toggler-icon{
		font-size: 117%; 
		padding: 0px;
		margin: 0px;
		line-height: 35px;
	}
	@media (min-width: 992px){
		.navbar-expand-lg .navbar-nav .dropdown-menu {
			max-width: 100%;
		}
	}
	@media (max-width: 1199px){
		.navbar-nav{
			margin-top: 13px;
		}
	}
	@media (min-width: 1200px){
		.navbar-expand-xl .navbar-nav {
			min-width: 90%;
			justify-content: space-between;
		}
	}
    
    //Mains
    main{
        position: relative;
        z-index: 1;
        .container{
            @media (max-width: 767px){
                max-width: 95%;
            }
        }
    }
	.carousel{
        background-color: #000000;
		position: relative;
		&:before{ 
			content: "";
			background-color: #000000;
			opacity: 0.5;
			position: absolute; 
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 3;
		}
        .carousel-inner{
            @include absolute;
            z-index: 2;
            .carousel-item{
                height: 100%;
                @include BGcenter;
            }
        }
		.cover1{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 4;
			min-height: calc(100vh - calc(97.81em/10));
            .cover_1{
    			padding: calc(50em/10) calc(25em/10);
                h1, p{
                    color: #ffffff;
                }
                h1{
                    font-size: 400%;
                    text-shadow: calc(1em/40) calc(1em/40) calc(5em/40) #403f7c, calc(1em/40) calc(1em/40) calc(5em/40) #403f7c, calc(2em/40) calc(2em/40) calc(5em/40) #403f7c, calc(2em/40) calc(2em/40) calc(5em/40) #403f7c, calc(2em/40) calc(2em/40) calc(5em/40) #403f7c;
                    margin-bottom: calc(8em/20);
                }
                p{
                    font-size: 200%;
                    text-shadow: calc(1em/20) calc(1em/20) calc(5em/20) #403f7c, calc(1em/20) calc(1em/20) calc(5em/20) #403f7c, calc(2em/20) calc(2em/20) calc(5em/20) #403f7c, calc(2em/20) calc(2em/20) calc(5em/20) #403f7c, calc(2em/20) calc(2em/20) calc(5em/20) #403f7c;
                    letter-spacing: calc(0.5em/20);
                    margin-bottom: calc(16em/20);
                    .btn{
                        background-color: #035AA6;
                        padding: calc(8em/20) calc(16em/20);
                        border-radius: calc(4.8em/20);
                        border: none;
                        box-shadow: none;
                        margin: calc(6em/20);
                        @include hover; 
                        &.btn-lg{
                            font-size: 100%; 
                        }
                    }
                    &.lead:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
		}
	}
    
    //Services section
    [id*="proconEx_services"]{ 
        padding: calc(60em/10) 0px;
        .proconEx_services_1{
            padding: calc(15em/10);
        }
        h2{
            font-size: 290%; 
            strong{
               font-size: 130%;
                display: block;
            }
        }
        h3{
            font-size: 260%;
            font-weight: bold;
        }
        p{
            font-size: 180%;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    #proconEx_services_industry{
        background-color: #1EA4D9;
        position: relative;
        &:before{
            content: "";
            display: block;
            @include absolute;
            background-image: url("../images/petrochemicals-industry.jpg");
            @include BGcenter;
            background-attachment: fixed;
            z-index: 1;
            opacity: 0.1;
        }
        .container{
            position: relative;
            z-index: 2;
        }
        .proconEx_services_1{
            font-size: 90%;
            p{
                &:last-child{
                    margin-bottom: 0px;
                }
                a.btn{
                    &.btn-secondary{
                        font-size: 160%;
                        font-weight: bold;
                        color: #ffffff;
                        background-color: #0A6DFC;
                        border-radius: calc(15em/16.2);
                        border: calc(4em/16.2) solid #1ea4d9;
                        box-shadow: none;
                        @include hover;
                    }
                }
            }
            &.bg_white{
                border-radius: calc(15em/9);
                border: calc(4em/9) solid #1ea4d9;
                margin: calc(13em/9) 0px;
                img{
                    width: 100%;
                    border: calc(4em/9) solid #d8e9ef;
                    margin: calc(6em/9) 0px; 
                }
            }
        }
    }
    #proconEx_support{
        background-color: #0A7ABF;
        padding: calc(60em/10) 0px;
        h2{
            color: #ffffff;
            font-size: 370%;
            margin-bottom: calc(24em/30);
        }
        p{
            color: #ffffff;
            font-size: 180%;
        }
        form{
            color: #ffffff;
            label{
                font-size: 130%;
                letter-spacing: 0.6px;
                &.custom-file-label{
                    margin: 0px;
                    letter-spacing: 0px;
                }
            }
            .form-control{ 
                font-size: 160%; 
                .form-control-file{
                    margin-top: calc(-3em/16);
                }
            }
            input[type="submit"]{
                &.btn{
                    font-size: 230%;
                    color: #ffffff;
                    background-color: #035AA6;
                    min-width: 50%;
                    border: none;
                    box-shadow: none;
                    padding: calc(6em/10);
                    margin-top: calc(6em/10);
                    &.btn-primary{
                        @include hover; 
                    }
                }
            }
        }
    }
    footer{
        font-size: 140%;
        color: #ffffff;
        background-color: #035AA6;
        position: relative;
        z-index: 2;
        #proconEx_certify{
            padding: calc(60em/14) 0px 0px;
            h2{
                font-size: calc(340%/1.4);
            }
            h3{
                font-size: calc(240%/1.4);
            }
            p{
                font-size: calc(140%/1.4);
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            .d-flex{
                .proconEx_certify_1 {
                    @media (min-width: 1200px){
                        width: 20%;
                    }
                    @media (max-width: 1199px){
                        width: 33.3333%;
                    }
                    @media (max-width: 576px){
                        width: 50%;
                    }
                    @media (max-width: 319px){
                        width: 100%;
                    }
                }
            }
            .proconEx_certify_1 {
                padding: calc(15em/14);
                img{
                    display: block;
                    width: 100%;
                    margin: auto;
                    @media (min-width:768px){
                        max-width: 50%;
                    }
                }
            }
        }
        .copyrights{
            padding: calc(15em/14);
            flex-wrap: wrap;
            justify-content: center;
            p{
                margin: calc(7em/14) calc(13em/14);
                a{
                    color: #f2f2f2; 
                    @include linkhoverlight;
                }
            }
        }
    }
}