// Scss Document of Proconex Pvt. Ltd.
//active colors
@mixin hover{
	&:hover, &:focus{
		color: #ffffff;
		background-color: #227153;
	}
	&:active{
		color: #ffffff;
		background-color: #4e5397;
	}
}
@mixin linkhover{
	&:hover, &:focus{
		color: #227153;
	}
	&:active{
		color: #4e5397;
	}
}
@mixin linkhoverwbg{
	&:hover, &:focus{
		color: #1367a5;
	}
	&:active{
		color: #0d4f81;
	}
}
@mixin linkhoverlight{
	&:hover, &:focus{
		color: #95dfc3;
        text-decoration: underline;
	}
	&:active{
		color: #c9cdfd;
        text-decoration: none;
	}
}
@mixin absolute{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
@mixin BGcenter{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
//Web Fonts
@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensedItalic.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-Bold.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-RomanCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-RomanCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-Medium.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-ItalicCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-ItalicCondensed.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
//import font-icons
@import url("icons.css"); 
img{
	max-width: 100%;
	height: auto;
}
#proconEx_bdy{
	font-family: 'Swis721 Cn BT'; 
	font-size: 10px;
	word-break: break-word;
    opacity: 0;
    &.fadein{
        opacity: 1;
    }
    @media (min-width: 1367px){
        font-size: calc(10vw/1367 * 100);
        .container{
            max-width: 95%;
        }
        section{
            .container{
                max-width: 84.507%;
            }
        }
    }
	@media (max-width: 767px){
		font-size: 9px;
	}
	@media (max-width: 576px){
//		font-size: 8px;
	}
	@media (max-width: 319px){
		font-size: 7px; 
	}
	.bg_white{
		background-color: #F2F2F2;
	}
	.heading{
		font-family: 'Futura Md BT';
        &_green{
            background: #227153;
            color: #ffffff;
            display: inline-block;
            padding: calc(6em/26.1) calc(12em/26.1);
            margin-left: calc(-12em/26.1); 
            border-radius: calc(15em/26.1);
            border: calc(4em/26.1) solid #1EA4D9;
        }
    }
	header{
        position: relative;
        z-index: 3;
	}
	.navbar-brand{
		display: block;
		max-width: calc(320em/20);
		height: auto; 
		padding-right: calc(35em/20); 
        @media(min-width: 1367px){
            max-width: 23.721%;
        }
	}
	.navbar{
		padding: calc(25em/10);
	}
	.navbar-nav{
		font-size: 170%;
		.nav-link{
			color: #333333;
            position: relative;
            padding-right: 19px;
            @include linkhoverwbg;
            .icon{
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
            }
		}
	}
	.dropdown-menu{ 
		font-size: 90%;
		padding: 0px;
		border-color: #84c3e7;
		background-color: #b8e4e8;
		.dropdown-item{
			padding: calc(5em/14) calc(11em/14);
			margin: 0px;
			white-space: normal;
			word-wrap: break-word;
			@include hover;
		}
	}
	.navbar-toggler{
		padding: 0px;
		margin: 0px;
		outline: none;
		position: absolute;
		right: calc(25em/20);
		top: calc(27em/20);
		@include hover;
        &:hover, &:focus, &:active{
            .navbar-toggler-icon{
                color: #ffffff;
            }
        }
	}
	.navbar-toggler-icon{
		font-size: 117%; 
		padding: 0px;
		margin: 0px;
		line-height: 35px;
	}
	@media (min-width: 992px){
		.navbar-expand-lg .navbar-nav .dropdown-menu {
			max-width: 100%;
		}
	}
	@media (max-width: 1199px){
		.navbar-nav{
			margin-top: 13px;
		}
	}
	@media (min-width: 1200px){
		.navbar-expand-xl .navbar-nav {
			min-width: 90%;
			justify-content: space-between;
		}
	}
    
    //Mains
    main{
        position: relative;
        z-index: 1;
        .container{
            @media (max-width: 767px){
                max-width: 95%;
            }
        }
    }
    //Carousel 
	.carousel{
        background-color: #000000;
		position: relative;
		&:before{ 
			content: "";
			background-color: #000000;
			opacity: 0.5;
			position: absolute; 
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 3;
		}
        .carousel-inner{
            @include absolute;
            z-index: 2;
            .carousel-item{
                height: 100%;
                @include BGcenter;
            }
        }
		.cover1{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 4;
			min-height: calc(100vh - calc(97.81em/10));
            .cover_1{
    			padding: calc(50em/10) calc(25em/10);
                h1, p{
                    color: #ffffff;
                }
                h1{
                    font-size: 400%;
                    text-shadow: calc(1em/40) calc(1em/40) calc(5em/40) #403f7c, calc(1em/40) calc(1em/40) calc(5em/40) #403f7c, calc(2em/40) calc(2em/40) calc(5em/40) #403f7c, calc(2em/40) calc(2em/40) calc(5em/40) #403f7c, calc(2em/40) calc(2em/40) calc(5em/40) #403f7c;
                    margin-bottom: calc(8em/20);
                }
                p{
                    font-size: 200%;
                    text-shadow: calc(1em/20) calc(1em/20) calc(5em/20) #403f7c, calc(1em/20) calc(1em/20) calc(5em/20) #403f7c, calc(2em/20) calc(2em/20) calc(5em/20) #403f7c, calc(2em/20) calc(2em/20) calc(5em/20) #403f7c, calc(2em/20) calc(2em/20) calc(5em/20) #403f7c;
                    letter-spacing: calc(0.5em/20);
                    margin-bottom: calc(16em/20);
                    .btn{
                        background-color: #035AA6;
                        padding: calc(8em/20) calc(16em/20);
                        border-radius: calc(4.8em/20);
                        border: none;
                        box-shadow: none;
                        margin: calc(6em/20);
                        @include hover; 
                        &.btn-lg{
                            font-size: 100%; 
                        }
                    }
                    &.lead:last-child {
                        margin-bottom: 0px;
                    }
                }
            }
		}
	}
    
    //Services section
    [id*="proconEx_services"]{ 
        padding: calc(60em/10) 0px;
        .proconEx_services_1{
            padding: calc(15em/10);
            .brands{
                p{
                    display: inline-block;
                }
                img{
                    max-height: calc(45em/10);
                    margin: calc(6em/10);
                    @media (max-width:991px){
                        max-height: calc(25em/10);
                    }
                    @media (max-width:374px){
                        max-height: calc(16em/10);
                    }
                }
            }
        }
        h2{
            font-size: 290%; 
            strong{
               font-size: 130%;
                display: block;
            }
        }
        h3{
            font-size: 260%;
            font-weight: bold;
        }
        p{
            font-size: 180%;
            &:last-child{
                margin-bottom: 0px;
            }
        }
        ul{
            font-size: 180%;
            padding: calc(12em/18) 0px;
            margin-left: calc(55em/18);
            li{
                font-size: 100%;
                list-style-type: none;
                position: relative;
                padding: 0px;
                margin: 0px;
                &:before{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: calc(-20em/18);
                    top: calc(7em/18);
                    background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEwMjQgMTAyNDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6dXJsKCNTVkdJRF8xXyk7fQ0KPC9zdHlsZT4NCjxnIGlkPSJsaXN0aW5nIj4NCgkNCgkJPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8xXyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSItMTE1NC4xNDI5IiB5MT0iODkuNzYiIHgyPSItMTQ0LjE0MyIgeTI9Ijg5Ljc2IiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDYuMTIzMjM0ZS0xNyAtMSAtMSAtNi4xMjMyMzRlLTE3IDYwMS43NiAtMTQ5LjAyKSI+DQoJCTxzdG9wICBvZmZzZXQ9IjAiIHN0eWxlPSJzdG9wLWNvbG9yOiMzRDU3OTEiLz4NCgkJPHN0b3AgIG9mZnNldD0iMC4yOSIgc3R5bGU9InN0b3AtY29sb3I6IzVDODJCNSIvPg0KCQk8c3RvcCAgb2Zmc2V0PSIwLjc2IiBzdHlsZT0ic3RvcC1jb2xvcjojN0RCRUU4Ii8+DQoJCTxzdG9wICBvZmZzZXQ9IjAuODUiIHN0eWxlPSJzdG9wLWNvbG9yOiM4RENBRTYiLz4NCgkJPHN0b3AgIG9mZnNldD0iMSIgc3R5bGU9InN0b3AtY29sb3I6IzlEREFFOSIvPg0KCTwvbGluZWFyR3JhZGllbnQ+DQoJPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSI3NC43LDI1OS41IDc0LjcsNzY0LjUgNTEyLDEwMTcgOTQ5LjMsNzY0LjUgOTQ5LjMsMjU5LjUgNTEyLDcgCSIvPg0KPC9nPg0KPC9zdmc+DQo=');
                    background-size: calc(10em/18) calc(10em/18);
                    width: calc(10em/18);
                    height: calc(10em/18);
                }
                + li{
                    margin-top: calc(6em/18);
                }
            }
        }
    }
    #proconEx_services_industry{
        background-color: #1EA4D9;
        position: relative;
        &:before{
            content: "";
            display: block;
            @include absolute;
            background-image: url("../images/petrochemicals-industry.jpg");
            @include BGcenter;
            background-attachment: fixed;
            z-index: 1;
            opacity: 0.1;
        }
        &.bg-networks{
            &:before{
                background-image: url("../images/extensive-network.jpg");
            }
        }
        .container{
            position: relative;
            z-index: 2;
        }
        .proconEx_services_1{
            font-size: 90%;
            p{
                &:last-child{
                    margin-bottom: 0px;
                }
                a.btn{
                    &.btn-secondary{
                        font-size: 160%;
                        font-weight: bold;
                        color: #ffffff;
                        background-color: #0A6DFC;
                        border-radius: calc(15em/16.2);
                        border: calc(4em/16.2) solid #1ea4d9;
                        box-shadow: none;
                        @include hover;
                    }
                }
            }
            &.bg_white{
                border-radius: calc(15em/9);
                border: calc(4em/9) solid #1ea4d9;
                margin: calc(13em/9) 0px;
                img{
                    width: 100%;
                    border: calc(4em/9) solid #d8e9ef;
                    margin: calc(6em/9) 0px; 
                }
            }
        }
    }
    //Support
    #proconEx_support{
        background-color: #0A7ABF;
        padding: calc(60em/10) 0px;
        h2{
            color: #ffffff;
            font-size: 370%;
            margin-bottom: calc(24em/30);
        }
        p{
            color: #ffffff;
            font-size: 180%;
        }
        form{
            color: #ffffff;
            label{
                font-size: 130%;
                letter-spacing: 0.6px;
                &.custom-file-label{
                    margin: 0px;
                    letter-spacing: 0px;
                }
            }
            .form-control{ 
                font-size: 160%; 
                .form-control-file{
                    margin-top: calc(-3em/16);
                    outline: none;
                }
            }
            input[type="submit"]{
                &.btn{
                    font-size: 230%;
                    color: #ffffff;
                    background-color: #035AA6;
                    min-width: 50%;
                    border: none;
                    box-shadow: none;
                    padding: calc(6em/10);
                    margin-top: calc(6em/10);
                    &.btn-primary{
                        @include hover; 
                    }
                }
            }
        }
    }
    //Page section
    #proconEx_features {
        color: #ffffff;
        min-height: 240px;
        padding: calc(45em/9) 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: #000000;
            width: 100%;
            height: 100%;
            opacity: 0.6;
        }
        .proconEx_features_text{
            h1{
                font-size: 400%;
                color: inherit;
                margin: 0px;
                text-shadow: calc(1em/40) calc(1em/40) calc(5em/40) #403f7c,calc(1em/40) calc(1em/40) calc(5em/40) #403f7c,calc(2em/40) calc(2em/40) calc(5em/40) #403f7c,calc(2em/40) calc(2em/40) calc(5em/40) #403f7c,calc(2em/40) calc(2em/40) calc(5em/40) #403f7c;
                + p{
                    margin-top: 12px;
                }
            }
            p{
                font-size: 200%;
                color: inherit;
                margin: 0px;
                text-shadow: calc(1em/20) calc(1em/20) calc(5em/20) #403f7c,calc(1em/20) calc(1em/20) calc(5em/20) #403f7c,calc(2em/20) calc(2em/20) calc(5em/20) #403f7c,calc(2em/20) calc(2em/20) calc(5em/20) #403f7c,calc(2em/20) calc(2em/20) calc(5em/20) #403f7c;
                + p{
                    margin-top: 6px;
                }
            }
        }
    }
    //Footer
    footer{
        font-size: 140%;
        color: #ffffff;
        background-color: #035AA6;
        position: relative;
        z-index: 2;
        &:before{
            content: "";
            display: block;
            background-image: url("../images/bg1.jpg");
            @include BGcenter;
            background-attachment: fixed;
            @include absolute;
            z-index: 0;
            opacity: 0.01;
        }
        #proconEx_certify{
            padding: calc(60em/14) 0px 0px;
            position: relative;
            z-index: 1;
            h2{
                font-size: calc(340%/1.4);
            }
            h3{
                font-size: calc(240%/1.4);
            }
            p{
                font-size: calc(160%/1.4);
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            .d-flex{
                .proconEx_certify_1 {
                    p{
                        margin-bottom: 0px;
                        + p{
                            margin-top: 6px;
                        }
                    }
                    a{
                        color: #f2f2f2; 
                        display: inline-block;
                        @include linkhoverlight;
                    }
                    @media (min-width: 1200px){
                        width: 20%;
                    }
                    @media (max-width: 1199px){
                        width: 33.3333%;
                    }
                    @media (max-width: 767px){
                        width: 50%;
                    }
                    @media (max-width: 424px){
                        width: 100%;
                    }
                }
            }
            .proconEx_certify_1 {
                padding: calc(15em/14);
                address{
                    margin: 0px;
                }
                &.bg-white {
                    margin-top: calc(12em/14);
                    a{
                        display: block;
                        width: 33.3333%;
                        margin: calc(8em/14);
                        img{
                            display: block;
                            margin: auto;
                            width: 80%;
                            @media (min-width: 768px){
                                width: 40%;
                            }
                        }
                    }
                }
            }
			@media (min-width: 576px){
				.container{
					max-width: 95%;
				}
			}
        }
        .copyrights{
            position: relative;
            z-index: 2;
            padding: calc(15em/14);
            flex-wrap: wrap;
            justify-content: center;
            p{
                margin: calc(7em/14) calc(13em/14);
                a{
                    color: #f2f2f2; 
                    @include linkhoverlight;
                }
            }
        }
    }
}