// Scss Document of Proconex Pvt. Ltd.
//active colors
@mixin hover{
	&:hover, &:focus{
		color: #ffffff;
		background-color: #227153;
	}
	&:active{
		color: #ffffff;
		background-color: #4e5397;
	}
}

//Web Fonts
@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensedItalic.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensedItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-BoldItalic.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-Bold.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-MediumItalic.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-RomanCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-RomanCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('../webfonts/FuturaBT/FuturaBT-Medium.woff2') format('woff2'),
        url('../webfonts/FuturaBT/FuturaBT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-ItalicCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-ItalicCondensed.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Swis721 Cn BT';
    src: url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensed.woff2') format('woff2'),
        url('../webfonts/Swiss721BT/Swiss721BT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
img{
	max-width: 100%;
	height: auto;
}
#proconEx_bdy{
	font-family: 'Swis721 Cn BT'; 
	font-size: 10px;
	word-break: break-word;
	@media (max-width: 991px){
		font-size: 9px;
	}
	@media (max-width: 567px){
		font-size: 8px;
	}
	@media (max-width: 319px){
		font-size: 6px; 
	}
	.bg-white{
		background-color: #ffffff;
	}
	.heading{
		font-family: 'Futura Md BT';
	}
	header{
		background-color: #F2F2F2;
	}
	.navbar-brand{
		display: block;
		max-width: 320px;
		height: auto; 
		padding-right: 35px; 
	}
	.navbar{
		padding: 25px;
	}
	.navbar-nav{
		font-size: 160%;
		.nav-link{
			color: #333333;
		}
	}
	.dropdown-menu{ 
		font-size: 90%;
		padding: 0px;
		border-color: #84c3e7;
		background-color: #b8e4e8;
		.dropdown-item{
			padding: 5px 11px;
			margin: 0px;
			white-space: normal;
			word-wrap: break-word;
			@include hover;
		}
	}
	.navbar-toggler{
		padding: 0px;
		margin: 0px;
		outline: none;
		position: absolute;
		right: 25px;
		top: 27px;
		@include hover;
	}
	.navbar-toggler-icon{
		font-size: 117%;
		padding: 0px;
		margin: 0px;
		line-height: 35px;
	}
	@media (min-width: 992px){
		.navbar-expand-lg .navbar-nav .dropdown-menu {
			max-width: 100%;
		}
	}
	@media (max-width: 1199px){
		.navbar-nav{
			margin-top: 13px;
		}
	}
	@media (min-width: 1200px){
		.navbar-expand-xl .navbar-nav {
			min-width: 90%;
			justify-content: space-between;
		}
	}
	.jumbotron{
		min-height: calc(100vh - 97.81px);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		&:before{
			content: "";
			background-color: #000000;
			opacity: 0.5;
			position: absolute;
			left: 0px;
			top: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 1;
		}
		h1{
			font-size: 400%;
		}
		p{
			font-size: 200%;
		}
		h1, p{
			color: #ffffff;
			text-shadow: 1px 1px 5px #403f7c, 1px 1px 5px #403f7c, 2px 2px 5px #403f7c, 2px 2px 5px #403f7c, 2px 2px 5px #403f7c;
		}
		p{
			letter-spacing: 0.5px;
			.btn{
				background-color: #035AA6;
				border: none;
				box-shadow: none;
				margin: 6px;
				@include hover; 
				&.btn-lg{
					font-size: 100%; 
				}
			}
		}
		.cover1{
			position: relative;
			z-index: 2;
			padding: 25px;
		}
	}
}