$icomoon-font-family: "proconex-icons" !default;
$icomoon-font-path: "../webfonts/icons/" !default;

$proconex-cart1: "\e904";
$proconex-messenger: "\e900";
$proconex-microsoftexcel: "\e901";
$proconex-microsoftpowerpoint: "\e902";
$proconex-microsoftword: "\e903";
$proconex-connection: "\e91b";
$proconex-mic: "\e91e";
$proconex-cart: "\e93a";
$proconex-phone: "\e942";
$proconex-phone-hang-up: "\e943";
$proconex-location: "\e947";
$proconex-location2: "\e948";
$proconex-map: "\e94b";
$proconex-map2: "\e94c";
$proconex-printer: "\e954";
$proconex-mobile: "\e958";
$proconex-user: "\e971";
$proconex-spinner9: "\e982";
$proconex-search: "\e986";
$proconex-lock: "\e98f";
$proconex-unlocked: "\e990";
$proconex-cog: "\e994";
$proconex-pie-chart: "\e99a";
$proconex-stats-dots: "\e99b";
$proconex-stats-bars2: "\e99d";
$proconex-download3: "\e9c7";
$proconex-upload3: "\e9c8";
$proconex-sphere: "\e9c9";
$proconex-earth: "\e9ca";
$proconex-link: "\e9cb";
$proconex-attachment: "\e9cd";
$proconex-warning: "\ea07";
$proconex-plus: "\ea0a";
$proconex-minus: "\ea0b";
$proconex-cancel-circle: "\ea0d";
$proconex-blocked: "\ea0e";
$proconex-cross: "\ea0f";
$proconex-checkmark: "\ea10";
$proconex-volume-high: "\ea26";
$proconex-volume-mute2: "\ea2a";
$proconex-loop2: "\ea2e";
$proconex-arrow-up: "\ea32";
$proconex-arrow-right: "\ea34";
$proconex-arrow-down: "\ea36";
$proconex-arrow-left: "\ea38";
$proconex-shift: "\ea4f";
$proconex-checkbox-checked: "\ea52";
$proconex-checkbox-unchecked: "\ea53";
$proconex-radio-checked2: "\ea55";
$proconex-radio-unchecked: "\ea56";
$proconex-share: "\ea7d";
$proconex-mail3: "\ea85";
$proconex-facebook2: "\ea91";
$proconex-whatsapp: "\ea93";
$proconex-youtube: "\ea9d";
$proconex-appleinc: "\eabe";
$proconex-android: "\eac0";
$proconex-windows8: "\eac2";
$proconex-skype: "\eac5";
$proconex-reddit: "\eac6";
$proconex-linkedin: "\eac9";
$proconex-pinterest: "\ead1";
$proconex-file-pdf: "\eadf";
$proconex-file-openoffice: "\eae0";
$proconex-file-word: "\eae1";

