$icomoon-font-family: "proconex-icons" !default;
$icomoon-font-path: "../webfonts/icons" !default;

$proconex-form-spin: unquote('"\\e926"');
$proconex-spinner: unquote('"\\e927"');
$proconex-schematic: unquote('"\\e925"'); 
$proconex-compare: unquote('"\\e924"');
$proconex-commissions: unquote('"\\e91d"');
$proconex-expert: unquote('"\\e91f"');
$proconex-performance: unquote('"\\e920"');
$proconex-products: unquote('"\\e921"');
$proconex-promote: unquote('"\\e922"');
$proconex-signup: unquote('"\\e923"');
$proconex-chat-online: unquote('"\\e91c"');
$proconex-support: unquote('"\\e917"');
$proconex-emergency: unquote('"\\e918"');
$proconex-maintanence: unquote('"\\e919"');
$proconex-parts-assisstance: unquote('"\\e91a"');
$proconex-ask-engineers: unquote('"\\e904"');
$proconex-contact-store: unquote('"\\e905"');
$proconex-FAX: unquote('"\\e906"');
$proconex-insurance: unquote('"\\e907"');
$proconex-shipping: unquote('"\\e908"');
$proconex-warranty-returns: unquote('"\\e909"');
$proconex-messenger: unquote('"\\e900"');
$proconex-microsoftexcel: unquote('"\\e901"');
$proconex-microsoftpowerpoint: unquote('"\\e902"');
$proconex-microsoftword: unquote('"\\e903"');
$proconex-whatsapp1: unquote('"\\e90a"');
$proconex-add: unquote('"\\e90d"');
$proconex-remove: unquote('"\\e90e"');
$proconex-keyboard-arrow-down: unquote('"\\e90f"');
$proconex-keyboard-arrow-left: unquote('"\\e910"');
$proconex-keyboard-arrow-right: unquote('"\\e911"');
$proconex-keyboard-arrow-up: unquote('"\\e912"');
$proconex-cancel: unquote('"\\e913"');
$proconex-check: unquote('"\\e914"');
$proconex-notifications: unquote('"\\e915"');
$proconex-notifications_none: unquote('"\\e916"');
$proconex-film: unquote('"\\e925"');
$proconex-file-picture: unquote('"\\e927"');
$proconex-file-play: unquote('"\\e929"');
$proconex-file-video: unquote('"\\e92a"');
$proconex-stack: unquote('"\\e92e"');
$proconex-folder: unquote('"\\e92f"');
$proconex-folder-open: unquote('"\\e930"');
$proconex-folder-plus: unquote('"\\e931"');
$proconex-folder-minus: unquote('"\\e932"');
$proconex-folder-download: unquote('"\\e933"');
$proconex-newspaper: unquote('"\\e90b"');
$proconex-pencil: unquote('"\\e90c"');
$proconex-connection: unquote('"\\e91b"');
$proconex-mic: unquote('"\\e91e"');
$proconex-qrcode: unquote('"\\e938"');
$proconex-cart: unquote('"\\e93a"');
$proconex-coin-dollar: unquote('"\\e93b"');
$proconex-phone: unquote('"\\e942"');
$proconex-phone-hang-up: unquote('"\\e943"');
$proconex-envelop: unquote('"\\e945"');
$proconex-location: unquote('"\\e947"');
$proconex-location2: unquote('"\\e948"');
$proconex-map: unquote('"\\e94b"');
$proconex-map2: unquote('"\\e94c"');
$proconex-printer: unquote('"\\e954"');
$proconex-mobile: unquote('"\\e958"');
$proconex-tablet: unquote('"\\e95a"');
$proconex-tv: unquote('"\\e95b"');
$proconex-download: unquote('"\\e960"');
$proconex-upload: unquote('"\\e961"');
$proconex-redo2: unquote('"\\e968"');
$proconex-bubble: unquote('"\\e96b"');
$proconex-bubbles3: unquote('"\\e96f"');
$proconex-user: unquote('"\\e971"');
$proconex-user-tie: unquote('"\\e976"');
$proconex-spinner2: unquote('"\\e97b"');
$proconex-spinner4: unquote('"\\e97d"');
$proconex-spinner5: unquote('"\\e97e"');
$proconex-spinner9: unquote('"\\e982"');
$proconex-search: unquote('"\\e986"');
$proconex-zoom-in: unquote('"\\e987"');
$proconex-zoom-out: unquote('"\\e988"');
$proconex-enlarge: unquote('"\\e989"');
$proconex-shrink: unquote('"\\e98a"');
$proconex-enlarge2: unquote('"\\e98b"');
$proconex-shrink2: unquote('"\\e98c"');
$proconex-lock: unquote('"\\e98f"');
$proconex-unlocked: unquote('"\\e990"');
$proconex-cog: unquote('"\\e994"');
$proconex-pie-chart: unquote('"\\e99a"');
$proconex-stats-dots: unquote('"\\e99b"');
$proconex-stats-bars2: unquote('"\\e99d"');
$proconex-bin: unquote('"\\e9ac"');
$proconex-bin2: unquote('"\\e9ad"');
$proconex-power-cord: unquote('"\\e9b7"');
$proconex-download3: unquote('"\\e9c7"');
$proconex-upload3: unquote('"\\e9c8"');
$proconex-sphere: unquote('"\\e9c9"');
$proconex-earth: unquote('"\\e9ca"');
$proconex-link: unquote('"\\e9cb"');
$proconex-attachment: unquote('"\\e9cd"');
$proconex-eye: unquote('"\\e9ce"');
$proconex-eye-blocked: unquote('"\\e9d1"');
$proconex-heart: unquote('"\\e9da"');
$proconex-warning: unquote('"\\ea07"');
$proconex-plus: unquote('"\\ea0a"');
$proconex-minus: unquote('"\\ea0b"');
$proconex-cancel-circle: unquote('"\\ea0d"');
$proconex-blocked: unquote('"\\ea0e"');
$proconex-cross: unquote('"\\ea0f"');
$proconex-checkmark: unquote('"\\ea10"');
$proconex-play2: unquote('"\\ea15"');
$proconex-pause: unquote('"\\ea16"');
$proconex-stop: unquote('"\\ea17"');
$proconex-previous: unquote('"\\ea18"');
$proconex-next: unquote('"\\ea19"');
$proconex-backward: unquote('"\\ea1a"');
$proconex-forward2: unquote('"\\ea1b"');
$proconex-play3: unquote('"\\ea1c"');
$proconex-pause2: unquote('"\\ea1d"');
$proconex-stop2: unquote('"\\ea1e"');
$proconex-backward2: unquote('"\\ea1f"');
$proconex-forward3: unquote('"\\ea20"');
$proconex-first: unquote('"\\ea21"');
$proconex-last: unquote('"\\ea22"');
$proconex-previous2: unquote('"\\ea23"');
$proconex-next2: unquote('"\\ea24"');
$proconex-eject: unquote('"\\ea25"');
$proconex-volume-high: unquote('"\\ea26"');
$proconex-volume-medium: unquote('"\\ea27"');
$proconex-volume-mute2: unquote('"\\ea2a"');
$proconex-loop2: unquote('"\\ea2e"');
$proconex-arrow-up: unquote('"\\ea32"');
$proconex-arrow-right: unquote('"\\ea34"');
$proconex-arrow-down: unquote('"\\ea36"');
$proconex-arrow-left: unquote('"\\ea38"');
$proconex-arrow-up2: unquote('"\\ea3a"');
$proconex-arrow-right2: unquote('"\\ea3c"');
$proconex-arrow-down2: unquote('"\\ea3e"');
$proconex-arrow-left2: unquote('"\\ea40"');
$proconex-circle-up: unquote('"\\ea41"');
$proconex-circle-right: unquote('"\\ea42"');
$proconex-circle-down: unquote('"\\ea43"');
$proconex-circle-left: unquote('"\\ea44"');
$proconex-shift: unquote('"\\ea4f"');
$proconex-checkbox-checked: unquote('"\\ea52"');
$proconex-checkbox-unchecked: unquote('"\\ea53"');
$proconex-radio-checked2: unquote('"\\ea55"');
$proconex-radio-unchecked: unquote('"\\ea56"');
$proconex-crop: unquote('"\\ea57"');
$proconex-share: unquote('"\\ea7d"');
$proconex-mail2: unquote('"\\ea84"');
$proconex-mail3: unquote('"\\ea85"');
$proconex-facebook2: unquote('"\\ea91"');
$proconex-whatsapp: unquote('"\\ea93"');
$proconex-youtube: unquote('"\\ea9d"');
$proconex-appleinc: unquote('"\\eabe"');
$proconex-android: unquote('"\\eac0"');
$proconex-windows8: unquote('"\\eac2"');
$proconex-skype: unquote('"\\eac5"');
$proconex-reddit: unquote('"\\eac6"');
$proconex-linkedin: unquote('"\\eac9"');
$proconex-pinterest: unquote('"\\ead1"');
$proconex-file-pdf: unquote('"\\eadf"');
$proconex-file-openoffice: unquote('"\\eae0"');
$proconex-file-word: unquote('"\\eae1"');