$icomoon-font-family: "proconex-icons" !default;
$icomoon-font-path: "../webfonts/icons/" !default;

$proconex-compare: unquote('"\\e924"');
$proconex-commissions: unquote('"\\e91d"');
$proconex-expert: unquote('"\\e91f"');
$proconex-performance: unquote('"\\e920"');
$proconex-products: unquote('"\\e921"');
$proconex-promote: unquote('"\\e922"');
$proconex-signup: unquote('"\\e923"');
$proconex-chat-online: "\e91c";
$proconex-support: "\e917";
$proconex-emergency: "\e918";
$proconex-maintanence: "\e919";
$proconex-parts-assisstance: "\e91a"; 
$proconex-ask-engineers: "\e904"; 
$proconex-contact-store: "\e905";
$proconex-FAX: "\e906";
$proconex-insurance: "\e907";
$proconex-shipping: "\e908";
$proconex-warranty-returns: "\e909"; 
$proconex-messenger: "\e900";
$proconex-microsoftexcel: "\e901";
$proconex-microsoftpowerpoint: "\e902";
$proconex-microsoftword: "\e903";
$proconex-whatsapp1: "\e90a";
$proconex-newspaper: "\e90b";
$proconex-pencil: "\e90c";
$proconex-connection: "\e91b";
$proconex-mic: "\e91e";
$proconex-qrcode: "\e938";
$proconex-cart: "\e93a";
$proconex-coin-dollar: "\e93b";
$proconex-phone: "\e942";
$proconex-phone-hang-up: "\e943";
$proconex-envelop: "\e945";
$proconex-location: "\e947";
$proconex-location2: "\e948";
$proconex-map: "\e94b";
$proconex-map2: "\e94c";
$proconex-printer: "\e954";
$proconex-mobile: "\e958";
$proconex-tablet: "\e95a";
$proconex-tv: "\e95b";
$proconex-download: "\e960";
$proconex-upload: "\e961";
$proconex-redo2: "\ea968";
$proconex-bubble: "\e96b";
$proconex-bubbles3: "\e96f";
$proconex-user: "\e971";
$proconex-user-tie: "\e976";
$proconex-spinner2: "\e97b";
$proconex-spinner4: "\e97d";
$proconex-spinner5: "\e97e";
$proconex-spinner9: "\e982";
$proconex-search: "\e986";
$proconex-zoom-in: "\e987";
$proconex-zoom-out: "\e988";
$proconex-enlarge: "\e989";
$proconex-shrink: "\e98a";
$proconex-enlarge2: "\e98b";
$proconex-shrink2: "\e98c";
$proconex-lock: "\e98f";
$proconex-unlocked: "\e990";
$proconex-cog: "\e994";
$proconex-pie-chart: "\e99a";
$proconex-stats-dots: "\e99b";
$proconex-stats-bars2: "\e99d";
$proconex-bin: "\e9ac";
$proconex-bin2: "\e9ad";
$proconex-power-cord: "\e9b7";
$proconex-download3: "\e9c7";
$proconex-upload3: "\e9c8";
$proconex-sphere: "\e9c9";
$proconex-earth: "\e9ca";
$proconex-link: "\e9cb";
$proconex-attachment: "\e9cd";
$proconex-eye: "\e9ce";
$proconex-eye-blocked: "\e9d1";
$proconex-heart: "\e9da";
$proconex-warning: "\ea07";
$proconex-plus: "\ea0a";
$proconex-minus: "\ea0b";
$proconex-cancel-circle: "\ea0d";
$proconex-blocked: "\ea0e";
$proconex-cross: "\ea0f";
$proconex-checkmark: "\ea10";
$proconex-play2: "\ea15";
$proconex-pause: "\ea16";
$proconex-stop: "\ea17";
$proconex-previous: "\ea18";
$proconex-next: "\ea19";
$proconex-backward: "\ea1a";
$proconex-forward2: "\ea1b";
$proconex-play3: "\ea1c";
$proconex-pause2: "\ea1d";
$proconex-stop2: "\ea1e";
$proconex-backward2: "\ea1f";
$proconex-forward3: "\ea20";
$proconex-first: "\ea21";
$proconex-last: "\ea22";
$proconex-previous2: "\ea23";
$proconex-next2: "\ea24";
$proconex-eject: "\ea25";
$proconex-volume-high: "\ea26";
$proconex-volume-medium: "\ea27";
$proconex-volume-mute2: "\ea2a";
$proconex-loop2: "\ea2e";
$proconex-arrow-up: "\ea32";
$proconex-arrow-right: "\ea34";
$proconex-arrow-down: "\ea36";
$proconex-arrow-left: "\ea38";
$proconex-arrow-up2: "\ea3a";
$proconex-arrow-right2: "\ea3c";
$proconex-arrow-down2: "\ea3e";
$proconex-arrow-left2: "\ea40";
$proconex-circle-up: "\ea41";
$proconex-circle-right: "\ea42";
$proconex-circle-down: "\ea43";
$proconex-circle-left: "\ea44";
$proconex-shift: "\ea4f";
$proconex-checkbox-checked: "\ea52";
$proconex-checkbox-unchecked: "\ea53";
$proconex-radio-checked2: "\ea55";
$proconex-radio-unchecked: "\ea56";
$proconex-crop: "\ea57";
$proconex-share: "\ea7d";
$proconex-mail2: "\ea84";
$proconex-mail3: "\ea85";
$proconex-facebook2: "\ea91";
$proconex-whatsapp: "\ea93";
$proconex-youtube: "\ea9d";
$proconex-appleinc: "\eabe";
$proconex-android: "\eac0";
$proconex-windows8: "\eac2";
$proconex-skype: "\eac5";
$proconex-reddit: "\eac6";
$proconex-linkedin: "\eac9";
$proconex-pinterest: "\ead1";
$proconex-file-pdf: "\eadf";
$proconex-file-openoffice: "\eae0";
$proconex-file-word: "\eae1";